html, body{
	margin: 0px;
	padding: 0px;
	background: #fff;
	color: #000;
	font-family: monospace;
}
.topCanvas{
	height: 60px;
}
.title{
	text-align: center;
}
.form{
	text-align: center;
}
button{
	cursor: pointer;
	font-size: 2em;
	background: transparent;
	border: 2px solid #1F2937;
	border-radius: 5px;
	transition-duration: 0.5s;
}
button:hover{
	transition-duration: 0.5s;
	background: #FCA5A5;
}
button:focus{
	background: #FCA5A5;
}
input[type="number"]{
	outline: none;
	font-size: 2em;
	/*border-radius: 5px;*/
	border: none;
	transition-duration: 0.5s;
	border: 1px solid white;
}
input[type="number"]:hover{
	transition-duration: 0.5s;
	border-bottom: 1px solid black;
}
input[type="number"]:focus{
	border: 1px solid black;
}
#text{
	font-size: 2em;
}
.lorem{
	border-radius: 5px;
	border: 3px solid black;
	margin-left: 5%;
	margin-right: 5%;
}
